a {
    color: #49bf9d;
    text-decoration: none;
    border-bottom: 1px dotted;
    transition: color .2s linear, border .2s linear;
}
p {
    margin: 0 0 2em;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 15px;
}
li {
    padding-left: .5em;
}
img {
    max-width: 100%;
}
body {
    color: #666;
    line-height: 1.7;
    font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
}
code {
    color: #929292;
    font-size: .9em;
    background: #f7f7f7;
    border-radius: .35em;
    padding: 0.25em 0.65em;
    border: 2px solid #efefef;
    font-family: "courier new", monospace;
}
ul, ol {
    margin: 0px;
    padding: 0px;
    padding-left: 1.1em;
}
a:hover {
    border-bottom-color: transparent;
}
pre code {
    display: block;
}
sub, sup {
    font-size: 12px;
}
textarea {
    height: 10em;
}
blockquote {
    margin: 2m 0;
    padding: .5em 0 .5em 1.5em;
    border-left: 5px solid #efefef;
}
blockquote p {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 1em 0;
    color: #787878;
    font-weight: normal;
}
input, textarea, select {
    padding: 15px;
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 3px solid transparent;
}
input:focus, textarea:focus {
    outline: none;
    border: 3px solid #49bf9d;
}
input, label, textarea, select {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}
input[type="radio"], input[type="checkbox"] {
    width: auto;
}

.main-header {
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    position: fixed;
    text-align: right;
    box-sizing: border-box;
    background-size: auto, cover;
    padding: 124px 54px 72px 54px;
    background-position: left top;
    background-image: url(../images/overlay.png), url(../images/bg.jpg);
}
.main-header-link {
    color: inherit;
}
.main-header-title {
    font-size: 22px;
    line-height: 1.5;
    text-align: right;
    margin-top: 150px;
    font-weight: normal;
    color: rgba(255,255,255,0.5);
}
.main-header-link img {
    float: right;
    overflow: hidden;
    border-radius: 50%;
}
.main-header-link:hover{
    color: #49bf9d;
}
.main-header-title strong {
    color: white;
    font-weight: normal;
}

.main-footer {
    left: 0;
    bottom: 0;
    width: 35%;
    position: fixed;
    text-align: right;
    box-sizing: border-box;
    padding: 0 54px 72px 0;
}
.main-content {
    width: 65%;
    margin-left: 35%;
    box-sizing: border-box;
    padding: 124px 54px 72px 54px;
}

.icon-link {
    border: none;
    color: #787878;
}
.footer-link {
    color: inherit;
}
.icon-link:hover {
    color: #49bf9d;
}
.footer-link:hover {
    color: #49bf9d;
}

.hidden {
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
    visibility: hidden;
}
.ul-icons {
    padding-left: 0;
    list-style-type: none;
}
.ul-icons li {
    color: #49bf9d;
    font-size: 2em;
    display: inline-block;
}
.ul-alternate {
    padding-left: 0;
    list-style-type: none;
}
.ul-alternate li {
    padding-left: 0;
    border-bottom: 2px solid #d8d8d8;
}
.ul-alternate li:last-child{
    border: 0;
}

.button-default {
    width: auto;
    color: white;
    cursor: pointer;
    margin: 5px 5px;
    font-size: .8em;
    border-radius: 5px;
    transition: all .5s;
    padding: .75em 1.5em;
    display: inline-block;
    border: 3px solid #49bf9d;
    background-color: #49bf9d;
}
.button-default-big {
    font-size: 1em;
}
.button-default-full {
    display: block;
    text-align: center;
}
.button-default-small {
    font-size: .65em;
}
.button-default:hover {
    background-color: #5ddeb9;
    border-color: transparent;
}
.button-default-stroke {
    color: inherit;
    border-color: #efefef;
    background-color: white;
}
.button-default-stroke:hover {
    color: #49bf9d;
    border-color: #49bf9d;
    background-color: white;
}

.table {
    width: 100%;
    text-align: left;
    margin: 0 0 2em 0;
    border-collapse: collapse;
}
.table td {
    padding: .75em;
}
.table th {
    padding: .75em;
    background: #ccc;
}
.table tbody tr td {
    border-bottom: 1px solid  #ccc;
}
.table tbody tr:last-child td {
    border-bottom: 2px solid #666;
}
.table tbody tr:first-child td {
    border-top: 2px solid #666;
}
.table tbody tr:nth-child(odd) td {
    background: #eee;
}

.table-alternate tbody td, 
.table-alternate tbody tr:last-child td, 
.table-alternate tbody tr:first-child td {
    border: 1px solid #ddd;
}

.row {
    overflow: auto;
}
.col-2 {
    width: 48.5%;
    float: left;
}
.col-1-3 {
    width: 32%;
    float: left;
}
.col-2-3 {
    width: 66%;
    float: left;
}
.col-2:last-child {
    margin-left: 1.5%;
}
.col-2:first-child {
    margin-right: 1.5%;
}
.col-2-3 + .col-1-3,
.col-1-3 + .col-2-3 {
    margin-left: 2%;
}
.col-1-3:nth-child(3n) {
    margin-left: 2%;
}
.col-1-3:nth-child(3n-2) {
    margin-right: 2%;
}

.img-left {
    float: left;
}
.img-right {
    float: right;
}
.image-link {
    border: 0;
}
.gallery-img {
    
}
.gallery-thumb {
    
}
.gallery-img img {
    width: 100%;
}
.gallery-img img,
.gallery-thumb img {
    margin-bottom: 2%;
    border-radius: 5px;
    display: inline-block;
} 
.recent-works-card img {
    overflow: hidden;
    border-radius: 10px;
}